*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}
body{
    margin: 20%;
    background-color: darkslategray;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    width:300px;
    background: #EEEFF1;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.text-field{
    font-size: 14px;
    padding:10px;
    margin-bottom: 10px;
    width:100%;
    border:none;
}

.submit-btn{
    font-size:14px;
    background:darkslategray;
    padding: 10px;
    margin-bottom: 30px;
    color:#ffffff;
    width:100%;
    border:none;
}

.links a{
    font-size: 12px;
    color:#9B9B9B;
}